.pgtitle {
  margin-top:40px;
}
.donate {
  margin-top:40px;
}
.help-links {
  margin-top:40px;
}
.partnerlinks {
  position: relative;
  top: 10px;
  margin-right: 10px;
}
.call-us {
  margin-top: 20px;
}
.visit {
  margin-top: 20px;
}
.contact {
  margin-top:40px;
  border: solid 1px dimgrey;
  display:inline-block;
  width: 50%;
  margin-bottom: 100px;
}
.donatebtn {
  border: none;
  background-color: aqua;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border-radius: 40px;
  padding:20px 20px;
}
.links {
    display: inline-block;
    background-color: aqua;
    color: black;
    border-radius: 40px;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}
