* {
  margin: 0;
  padding: 0;
}

.wrapper{
  width: 90%;
  border: 2px solid dimgrey;
  background-color: aliceblue;
  display: grid;
  border: 2px solid dimgrey;
  background-color: aliceblue;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5x;
  grid-row-gap: 5px;
  font-family: sans-serif;
  margin: 0 auto;
}

.navbar{
  grid-column-start: 1;
  grid-column-end: 2;
  text-align: left;
  display: block;
  top: 250px;
  position: relative;
  text-transform: uppercase;
  font-size: 20px;
  font-weight:bold;
}
.headimage{
  background-image: url("polar.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  grid-column-start: 2;
  grid-column-end: 3;
  height: 300px;

  /* border-radius: 20px; */
}

.content{
  border: 1px solid dimgrey;
  background-color: whitesmoke;
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
}

a:link{
  text-decoration: none;
}
.donatebtn {
  border: none;
  background-color: aqua;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border-radius: 40px;
  padding:20px 20px;
}

.gallery{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.image{
  width: 100%;
}

@media all and (max-width: 480px){
  .gallery{
    grid-template-columns: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    width: 100%;

  }
}

@media all and (min-width: 481px) and (max-width: 768px){
  .gallery{
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    width: 100%;

  }
}
@media all and (min-width: 769px) and (max-width: 992px){
  .gallery{
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    width: 100%;

  }
